html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 320px;
    height: 240px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 88%;
    height: 55%;
    font-size: 40px;
    line-height: 42px;;
}
.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 18px;
    width: 264px;
    height: 12px;
    font-size: 10px;;
}
.logo {
    right: 10px;
    bottom: 10px;
    width: 170px;
}
.logo2 {
    left: 10px;
    bottom: 20px;
    width: 170px;
}
.txtDeparture {
    position: absolute;
    top: 12px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.priceBrick,
.destinationBrick {
    width: 160px;
}
.txtDestination,
.txtStripe,
.txtDeparture,
.txtPrice,
.txtFrom {
    position: absolute;
    left: 6px;
    width: 148px;;
}
.txtStripe {
    top: 26px;
    font-size: 18px;;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 10px;
    width: 77px;
    height: 68px;
    font-size: 25px;
    line-height: 1em;;
}
.dag,
.maand {
    position: absolute;
    left: 8px;
    width: 60px;
    text-align: center;;
}
.dag {
    top: 26px;
    height: 34px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 0;
    height: 26px;
    font-size: 20px;
    line-height: 1em;;
}
.txtNumber {
    top: 26px;
    height: 32px;
    font-size: 40px;;
}
.txtTop {
    top: 6px;
    height: 22px;
    font-size: 11px;;
}
.txtTop,
.txtBot,
.txtNumber {
    position: absolute;
    left: 6px;
    width: 80px;;
}
.txtBot {
    bottom: 9px;
    height: 22px;
    font-size: 11px;;
}
.txtFrom {
    top: 8px;
    height: 16px;
    font-size: 10px;
    text-align: center;
}
.txtPrice {
    top: 22px;
    height: 56px;
    font-size: 60px;;
}
.destinationBrick {
    position: absolute;
    top: 20px;
    left: 18px;
    height: 80px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 43px;;
}
.dateBrick {
    position: absolute;
    top: 20px;
    left: 216px;
    width: 77px;
    height: 77px;
}
.priceBrick {
    position: absolute;
    top: 135px;
    left: 20px;
    height: 84px;
}
.themaBrick {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 40%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick,
.CTA-end {
    width: 88px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 15px;
    width: 290px;
    height: 26px;
    background-color: #2800A0;
    border-radius: 8px;
}
.endTitleText {
    position: absolute;
    height: 18px;
    font-size: 14px;
    text-align: center;
    transform: translate(3%,30%);;
}
.txtPriceEnd {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 78px;
    height: 30px;
    font-size: 30px;;
}
.destinationBrick-end,
.priceBrick-end,
.CTA-end,
.endTitle {
    left: 15px;
}
.destinationBrick-end {
    position: absolute;
    top: 45px;
    height: 56px;
    font-size: 12px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end {
    position: absolute;
    top: 106px;
    height: 38px;
}
.CTA-end {
    position: absolute;
    top: 150px;
    height: 38px;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 108px;
    left: 208px;
    width: 92px;
    height: 84px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 135px;
    left: 208px;
    width: 92px;
    height: 84px;
}
.txtCTA {
    position: absolute;
    top: 12px;
    left: 14px;
    width: 68px;
    height: 56px;
    font-size: 26px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: 5px;
    left: 7px;
    width: 72px;
    height: 23px;
    font-size: 16px;;
}
.CTA-panel {
    position: absolute;
    background: #FF3268;
    border-radius: 12px;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    left: 0;
}
.col2 {
    left: 100px;
}
.col3 {
    left: 200px;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.euroSign {
    top: 25px;
    font-size: 32px;;
}
.symPlane {
    right: 16px;
    bottom: 10px;
    width: 22px;
    height: 22px;
}
.txtDepartureEnd {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 72px;
    height: 15px;
}
.txtStripeEnd {
    position: absolute;
    top: 22px;
    left: 8px;
    width: 72px;
    height: 9px;
}
.txtDestinationEnd {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 72px;
    height: 15px;
}
.imgOffer1,
.imgOffer2,
.imgOffer3,
.gradient {
    width: 320px;
    height: 240px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
}
.imgOffer2 {
    position: absolute;
    top: 0;
}
.imgOffer3 {
    position: absolute;
    top: 0;
}
.gradient {
    position: absolute;
    top: 0;
}
.bgDestEnd {
    position: absolute;
    top: 44px;
    left: 15px;
    width: 90px;
    height: 142px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
