html,
body,
p {
    padding: 0;;
    margin: 0;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');;
    font-family: 'Nexa-XBold';
}
sup {
    margin-right: 5px;;
    font-size: 50%;
    line-height: 150%;
}
.stage {
    position: relative;
    width: 300px;
    height: 250px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold', Arial;
    color: #FFFFFF;;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-touch-callout: none;
         -o-user-select: none;
}
.greenBackground {
    width: 100%;
    height: 100%;;
    background: #00D66C;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 20px;
    left: 17px;
    width: 88%;
    height: 55%;;
    font-size: 40px;
    line-height: 42px;
}
.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 18px;
    width: 264px;
    height: 12px;;
    font-size: 10px;
}
.logo {
    right: 10px;
    bottom: 10px;
    width: 170px;
}
.logo2 {
    left: 10px;
    bottom: 20px;
    width: 170px;
}
.txtDeparture {
    position: absolute;
    top: 12px;
    height: 20px;
    font-size: 18px;
    text-align: center;
}
.priceBrick,
.destinationBrick {
    width: 160px;
}
.txtDestination,
.txtStripe,
.txtDeparture,
.txtPrice,
.txtFrom {
    position: absolute
    left: 10%;
    width: 80%;
}
.txtStripe {
    top: 32px;
    height: 10px;
    font-size: 18px;
    line-height: 0.8em;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 10px;
    width: 77px;
    height: 68px;;
    font-size: 25px;
    line-height: 1em;
}
.dag,
.maand {
    position: absolute;
    left: 8px;;
    width: 60px;
    text-align: center;
}
.dag {
    top: 26px;;
    height: 34px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40, 0, 160, 1);
}
.maand {
    top: 0;;
    height: 26px;
    font-size: 20px;
    line-height: 1em;
}
.txtNumber {
    top: 26px;;
    height: 32px;
    font-size: 40px;
}
.txtTop {
    top: 6px;;
    height: 22px;
    font-size: 11px;
}
.txtTop,
.txtBot,
.txtNumber {
    position: absolute;
    left: 6px;;
    width: 80px;
}
.txtBot {
    bottom: 9px;;
    height: 22px;
    font-size: 11px;
}
.txtFrom {
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;;
    transform: translate(-50%,-50%);
}
.txtPrice {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;;
    transform: translate(-50%,-50%);
}
.destinationBrick {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60%;
    height: 42%;
    color: #2800A0;
    text-align: center;;
    background-color: rgba(255, 255, 255);
    border-radius: 43px;
}
.dateBrick {
    position: absolute;
    top: 5%;
    left: 67%;
    width: 27%;
    height: 42%;
}
.videoBrick {
    position: absolute;
    top: 18px;
    left: 197px;
    width: 77px;
    height: 77px;
}
.priceBrick {
    position: absolute;
    top: 53%;
    left: 5%;
    width: 50%;
    height: 42%;
}
.themaBrick {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 40%;
    background-color: rgba(255, 255, 255);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick,
.CTA-end {
    width: 82px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 28px;
}
.txtDestination {
    font-size: 28px;
}
.endTitle {
    position: absolute;
    top: 18px;
    width: 264px;
    height: 26px;
    background-color: #2800A0;
    border-radius: 8px;
}
.endTitleText {
    position: absolute;
    height: 18px;;
    font-size: 12px;
    text-align: center;
    transform: translate(6%, 31%);
}
.txtPriceEnd {
    position: absolute;
    top: 5px;
    left: 5px;;
    width: 72px;
    height: 30px;
    font-size: 30px;
}
.destinationBrick-end,
.priceBrick-end,
.CTA-end,
.endTitle {
    left: 18px;
}
.destinationBrick-end {
    position: absolute;
    top: 50px;
    height: 62px;
    font-size: 12px;
    color: #2800A0;
    text-align: center;;
    background-color: rgba(255, 255, 255, 0.85);
}
.priceBrick-end {
    position: absolute;
    top: 120px;
    height: 38px;
}
.CTA-end {
    position: absolute;
    top: 165px;
    height: 38px;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0, 214, 108, 0.85);
}
.shadow2 {
    -webkit-box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
            box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
}
.shadow {
    -webkit-box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
            box-shadow: rgba(198, 37, 80, 1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 53%;
    left: 61%;
    width: 35%;
    height: 40%;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 53%;
    right: 5%;
    width: 34%;
    height: 42%;
}
.txtCTA {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    text-align: left;
}
.txtCTA-small {
    position: absolute;
    top: 5px;
    left: 5px;;
    width: 72px;
    height: 23px;
    font-size: 16px;
}
.CTA-panel {
    position: absolute;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    left: 0;
}
.col2 {
    left: 91px;
}
.col3 {
    left: 182px;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;;
    background: #FFFFFF;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;;
    margin-left: -25px;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;;
    left: 0;
    width: 100%;
    height: 1px;
}
.frame-bottom {
    bottom: 0;
    left: 0;;
    width: 100%;
    height: 1px;
}
.frame-left {
    top: 0;
    left: 0;;
    width: 1px;
    height: 100%;
}
.frame-right {
    top: 0;
    right: 0;;
    width: 1px;
    height: 100%;
}
.euroSign {
    top: 25px;;
    font-size: 32px;
}
.symPlane {
    top: 50%;
    left: 55%;
    width: 37%;
    height: 37%;
}
.txtDepartureEnd {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 72px;
    height: 20px;
}
.txtStripeEnd {
    position: absolute;
    top: 27px;
    left: 5px;
    width: 72px;
    height: 8px;
    line-height: 0.7em;
}
.txtDestinationEnd {
    position: absolute;
    bottom: 8px;
    left: 5px;
    width: 72px;
    height: 20px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
}
.imgOffer2 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
}
.imgOffer3 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
}
.gradient {
    position: absolute;
    top: 0;
    width: 300px;
    height: 250px;
}
.bgDestEnd {
    position: absolute;
    top: 50px;
    left: 18px;
    width: 82px;;
    height: 152px;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;;
    width: 100%;
    height: 100%;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
