html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 728px;
    height: 90px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 85%;
    height: 60%;
    font-size: 40px;
    line-height: 42px;;
}
.disclaimer {
    position: absolute;
    bottom: 2px;
    left: 10px;
    font-size: 8px;;
}
.logo {
    /* top: -5px; */
    top: 50%;
    right: 8px;
    width: 81px;
    transform: translateY(-50%) !important;
}
.logo2 {
    /* top: -5px; */
    top: 50%;
    right: 100px;
    width: 81px;
    transform: translateY(-50%) !important;
}
.txtDeparture {
    position: absolute;
    top: 8px;
    width: 195px;
    font-size: 18px;
    text-align: center;
}
.txtStripe {
    position: absolute;
    top: 22px;
    width: 195px;
    font-size: 18px;;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 4px;
    width: 86px;
    height: 78px;
    font-size: 25px;
    line-height: 1em;;
}
.dag,
.maand {
    position: absolute;
    left: 8px;
    width: 76px;
    text-align: center;;
}
.dag {
    top: 25px;
    height: 38px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 4px;
    height: 20px;
    font-size: 28px;
    line-height: 1.2em;;
}
.txtNumber {
    position: absolute;
    top: 12px;
    left: 9px;
    width: 94px;
    height: 45px;
    font-size: 34px;;
}
.txtTop {
    position: absolute;
    top: 0;
    left: 9px;
    width: 94px;
    height: 22px;
    font-size: 12px;;
}
.txtBot {
    position: absolute;
    bottom: 2px;
    left: 9px;
    width: 94px;
    height: 22px;
    font-size: 12px;;
}
.txtFrom {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50px;
    font-size: 12px;
    line-height: 13px;
    transform: translateY(-50%);;
}
.txtPrice {
    position: absolute;
    /* top: 0; */
    top: 50%;
    left: 65px;
    width: 120px;
    font-size: 60px;
    transform: translateY(-50%);;
}
.destinationBrick {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 197px;
    height: 70px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 35px;;
}
.dateBrick {
    position: absolute;
    top: -3px;
    left: 260px;
    width: 90px;
    height: 70px;
}
.priceBrick {
    position: absolute;
    top: 10px;
    left: 360px;
    width: 189px;
    height: 70px;
}
.themaBrick {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 55%;
    height: 80%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick {
    width: 92px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 7px;
    left: 7px;
    width: 96px;
    height: 66px;
    background-color: #2800A0;
    border-radius: 10px;
}
.endTitleText {
    position: absolute;
    top: 4px;
    left: 7px;
    width: 82px;
    font-size: 12px;
    line-height: 13px;
    text-align: left;
    transform: translate(0%,8%);;
}
.txtPriceEnd {
    position: absolute;
    bottom: -4px;
    left: 5px;
    width: 82px;
    height: 38px;
    font-size: 30px;;
}
.destinationBrick-end {
    position: absolute;
    top: 7px;
    left: 110px;
    width: 92px;
    height: 32px;
    font-size: 10px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end {
    position: absolute;
    top: 44px;
    left: 110px;
    height: 32px;
}
.CTA-end {
    position: absolute;
    top: 7px;
    left: 210px;
    width: 63px;
    height: 76px;;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 7px;
    left: 524px;
    width: 109px;
    height: 70px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 10px;
    left: 560px;
    width: 109px;
    height: 70px;
}
.txtCTA {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 70px;
    height: 55px;
    font-size: 25px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: -3px;
    left: 5px;
    width: 54px;
    height: 60px;
    font-size: 16px;;
}
.CTA-panel {
    position: absolute;
    width: 109px;
    height: 70px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    left: 8px;
}
.col2 {
    left: 184px;
}
.col3 {
    left: 360px;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.symPlane {
    right: 29px;
    bottom: 14px;
    width: 18px;
    height: 18px;
}
.txtDepartureEnd,
.txtStripeEnd,
.txtDestinationEnd {
    position: absolute;
    left: 5%;
    width: 90%;;
}
.txtDepartureEnd {
    top: 0;
    height: 20px;
}
.txtStripeEnd {
    top: 10px;
    height: 14px;
}
.txtDestinationEnd {
    bottom: -2px;
    height: 20px;
}
.imgOffer1,
.imgOffer2,
.imgOffer3,
.gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.bgDestEnd {
    position: absolute;
    top: 7px;
    left: 110px;
    width: 163px;
    height: 75px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.backdrop {
    position: absolute;
}
.symPlane-small {
    top: 48px;
    left: 25px;
    width: 14px;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
