html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 320px;
    height: 50px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 260px;
    height: 30px;
    font-size: 23px;
    /* text-align: center; */
}
.disclaimer {
    position: absolute;
    bottom: -5px;
    left: 5px;
    width: 97%;
    height: 18%;
    font-size: 8px;;
}
.logo {
    /* top: -5px; */
    top: 50%;
    right: 8px;
    width: 81px;
    transform: translateY(-50%) !important;
}
.txtDeparture {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 72px;
    font-size: 10px;
    text-align: center;
}
.txtStripe {
    position: absolute;
    top: 11px;
    width: 82px;
    font-size: 10px;;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 4px;
    width: 36px;
    height: 30px;
    font-size: 25px;
    line-height: 1em;;
}
.dag,
.maand {
    position: absolute;
    left: 4px;
    width: 28px;
    text-align: center;;
}
.dag {
    top: 11px;
    height: 20px;
    font-size: 13px;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 2px;
    height: 10px;
    font-size: 16px;
    line-height: 1.2em;;
}
.txtNumber {
    position: absolute;
    top: 10px;
    left: 2px;
    width: 50px;
    height: 20px;
    font-size: 16px;;
}
.txtTop {
    position: absolute;
    bottom: 25px;
    left: 2px;
    width: 50px;
    height: 12px;
    font-size: 7px;;
}
.txtBot {
    position: absolute;
    top: 25px;
    left: 2px;
    width: 50px;
    height: 12px;
    font-size: 11px;;
}
.txtFrom {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 35px;
    font-size: 8px;
    line-height: 8px;
    transform: translateY(-50%);
}
.txtPrice {
    position: absolute;
    top: 2px;
    left: 40px;
    width: 48px;
    height: 30px;
    font-size: 28px;;
}
.destinationBrick {
    position: absolute;
    top: 6px;
    left: 15px;
    width: 82px;
    height: 36px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 25px;;
}
.dateBrick {
    position: absolute;
    top: 6px;
    left: 100px;
    width: 37px;
    height: 37px;
}
.priceBrick {
    position: absolute;
    top: 6px;
    left: 140px;
    width: 91px;
    height: 36px;
}
.themaBrick {
    position: absolute;
    top: 10%;
    left: 3%;
    width: 70%;
    height: 80%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick {
    width: 92px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 65px;
    height: 34px;
    background-color: #2800A0;
    border-radius: 6px;
}
.endTitleText {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 59px;
    font-size: 8px;
    line-height: 8px;
    text-align: left;
    transform: translate(0%,8%);;
}
.txtPriceEnd {
    position: absolute;
    top: 1px;
    left: 5px;
    width: 44px;
    height: 15px;
    font-size: 1px;;
}
.destinationBrick-end {
    position: absolute;
    top: 3px;
    left: 75px;
    width: 56px;
    height: 22px;
    font-size: 8px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end .txtPrice {
    top: 6px;
    left: 30px;
    font-size: 10px;;
}
.priceBrick-end {
    position: absolute;
    top: 25px;
    left: 75px;
    width: 56px;
    height: 16px;;
}
.CTA-end {
    position: absolute;
    top: 3px;
    left: 135px;
    width: 37px;
    height: 38px;;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 4px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 4px;
    left: 225px;
    width: 56px;
    height: 38px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 6px;
    left: 240px;
    width: 58px;
    height: 36px;
}
.txtCTA {
    position: absolute;
    top: 3px;
    left: 9px;
    width: 40px;
    height: 30px;
    font-size: 12px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 27px;
    height: 28px;
    font-size: 10px;;
}
.CTA-panel {
    position: absolute;
    width: 56px;
    height: 38px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    left: 0;
}
.col2 {
    left: 100px;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.symPlane {
    right: 10px;
    bottom: 6px;
    width: 13px;
    height: 13px;
}
.txtDepartureEnd {
    position: absolute;
    bottom: 6px;
    left: 2px;
    width: 53px;
    height: 20px;
}
.txtStripeEnd {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 53px;
    height: 14px;
}
.txtDestinationEnd {
    position: absolute;
    top: 6px;
    left: 2px;
    width: 53px;
    height: 20px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
    width: 320px;
    height: 50px;
}
.imgOffer2 {
    position: absolute;
    top: 0;
    width: 320px;
    height: 50px;
}
.imgOffer3 {
    position: absolute;
    top: 0;
    width: 320px;
    height: 50px;
}
.gradient {
    position: absolute;
    top: 0;
    width: 320px;
    height: 50px;
}
.bgDestEnd {
    position: absolute;
    top: 3px;
    left: 75px;
    width: 98px;
    height: 40px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
