html,
body,
p {
    padding: 0;
    margin: 0;
}
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;
    /*margin-left: 5px;*/
}
.stage {
    position: relative;
    width: 336px;
    height: 280px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;

/* Font toepassen op de gehele stage */
    font-family: 'Nexa-XBold', Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

    -webkit-touch-callout: none;
         -o-user-select: none;
}
/**
 * Main Content 
 */
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 88%;
    height: 60%;
    font-size: 40px;
    line-height: 42px;
}
.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 20px;
    width: 296px;
    font-size: 10px;
}
.logo {
    right: 10px;
    bottom: 10px;
    width: 170px;
}
.logo2 {
    left: 10px;
    bottom: 20px;
    width: 170px;
}
/* destinationBrick aka White Panel */


/* AANGEPAST */
.txtDeparture,
.txtStripe,
.txtDestination {
    right: 5%;
    width: 90%;
}
.txtDeparture {
    position: absolute;
    top: 12px;
    font-size: 18px;

/*    width: 180px;*/
    text-align: center;
}
.txtStripe {
    position: absolute;
    top: 40%;
    height: 10px;
    font-size: 18px;
    line-height: 0.6em;

    /*    width: 180px;*/
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*
    width: 90%;
	right:5%;
*/
}
/* EIND AANGEPAST */

/* dateBrick aka Blue Panel */
.txtDate {
    position: absolute;
    top: 10px;
    width: 86px;
    height: 78px;
    font-size: 25px;
    line-height: 1em;
}
.dag,
.maand {
    position: absolute;
    left: 10px;
    width: 66px;
    text-align: center;
}
.dag {
    top: 30px;
    height: 38px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40, 0, 160, 1);
}
.maand {
    top: 0;
    height: 30px;
    font-size: 20px;
    line-height: 1.2em;
}
.txtNumber {
    position: absolute;
    top: 24px;
    left: 5px;
    width: 94px;
    height: 45px;
    font-size: 40px;
}
.txtTop {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 94px;
    height: 22px;
    font-size: 14px;
}
.txtBot {
    position: absolute;
    bottom: 9px;
    left: 5px;
    width: 94px;
    height: 22px;
    font-size: 14px;
}
/* priceBrick aka Green Panel */
.txtFrom {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    font-size: 12px;
    text-align: center;
    transform: translate(-50%,-50%);
}
/*
.txtEuro { 
    position: absolute;
    top: 25px;
    left: 35px;
    font-size: 32px;
}
*/

.txtPrice {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 150px;
    font-size: 60px;
    text-align: center;
    transform: translate(-50%,-50%);
}
/* Bricks Core */
.destinationBrick {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 180px;
    height: 86px;
    color: #2800A0; /*to change font color to blue*/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 43px; /*unique border radius*/
}
.dateBrick {
    position: absolute;
    top: 30px;
    left: 220px;
    width: 86px;
    height: 86px;
}
.priceBrick {
    position: absolute;
    top: 150px;
    left: 20px;
    width: 180px;
    height: 94px;
}
/* EndFrame Bricks Core */
.endBrick {
    width: 92px;
}
/************** thema banner ajustments!! */
.themaBrick {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 296px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.85);
}
.themaText {
    position: absolute;

/* height: 90%; */
    top: 50%;
    left: 50%;

/* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
/************** thema banner ajustments!! */

.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 294px;
    height: 30px;
    background-color: #2800A0;
    border-radius: 10px;
}
.endTitleText {
    font-size: 14px;
    text-align: center;
    transform: translate(0%,28%);
}
.txtPriceEnd {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 82px;
    height: 38px;
    font-size: 30px;
}
.destinationBrick-end {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 64px;
    font-size: 12px;
    color: #2800A0; /*to change font color to blue*/
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
}
/*
.priceBrick-end .txtEuro {
    font-size: 22px;
    top: 7px;
    left: 14px;
}
*/

/*
.priceBrick-end .txtPrice {
    font-size: 22px;
    top: 22px;
    left: 20px;
}
*/

.priceBrick-end {
    position: absolute;
    top: 130px;
    left: 20px;
    height: 48px;
}
.CTA-end {
    position: absolute;
    top: 185px;
    left: 20px;
    width: 92px;
    height: 38px;
}
/* Panels Core colors */
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0, 214, 108, 0.85);
}
.bluePanel {
    /*        background: rgba(40, 0, 160, .85);*/
}
.shadow {
    -webkit-box-shadow: rgba(198, 37, 80, 1) 0 -5px 0 inset;
       -moz-box-shadow: rgba(198, 37, 80, 1) 0 -5px 0 inset;
            box-shadow: rgba(198, 37, 80, 1) 0 -5px 0 inset;
}
/* CTA */
.seatsLeft {
    position: absolute;
    top: 120px;
    left: 212px;
    width: 104px;
    height: 95px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 150px;
    left: 212px;
    width: 104px;
    height: 95px;
}
.txtCTA {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 74px;
    height: 55px;
    font-size: 28px;

/*        line-height: 26px;*/
    text-align: left;
}
.txtCTA-small {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 82px;
    height: 23px;
    font-size: 16px;
}
.CTA-panel {
    position: absolute;
    width: 104px;
    height: 95px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
/* End frame */
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    left: 0;
}
.col2 {
    left: 100px;
}
.col3 {
    left: 200px;
}
/**
 * BEM Styles
 */

/* Panels */

.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
/**
 * Preloader
 */

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;
}
/**
 * Frame
 */

.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
}
.symPlane {
    right: 18px;
    bottom: 24px;
    width: 22px;
    height: 22px;
}
/*--flight-- */
.txtDepartureEnd,
.txtStripeEnd,
.txtDestinationEnd {
    position: absolute;
    left: 5%;
    width: 90%;
}
.txtDepartureEnd {
    top: 8px;
    height: 20px;
}
.txtStripeEnd {
    top: 25px;
    height: 14px;
}
.txtDestinationEnd {
    bottom: 8px;
    height: 20px;
}
/*--END flight-- */

.imgOffer1,
.imgOffer2,
.imgOffer3,
.gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.bgDestEnd {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 92px;
    height: 165px;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
