html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 300px;
    height: 600px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 130px;
    left: 15px;
    width: 90%;
    height: 40%;
    font-size: 40px;
    line-height: 46px;
    text-align: left;;
}
.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 280px;
    font-size: 10px;;
}
.logo {
    right: 10px;
    bottom: 10px;
    width: 170px;
}
.logo2 {
    left: 10px;
    bottom: 20px;
    width: 170px;
}
.txtDeparture {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 90%;
    height: 32px;
    font-size: 30px;
    text-align: center;;
}
.txtStripe {
    position: absolute;
    top: 42px;
    left: 5%;
    width: 90%;
    height: 14px;
    font-size: 18px;
    line-height: 0.8em;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 15px;
    width: 100px;
    height: 88px;
    font-size: 25px;
    line-height: 1em;;
}
.dag,
.maand {
    position: absolute;
    left: 10px;
    width: 80px;
    text-align: center;;
}
.dag {
    top: 28px;
    height: 40px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 0;
    height: 30px;
    font-size: 20px;
    line-height: 1em;;
}
.txtNumber {
    position: absolute;
    top: 20px;
    left: 8px;
    width: 114px;
    height: 60px;
    font-size: 45px;;
}
.txtTop {
    position: absolute;
    top: 7px;
    left: 8px;
    width: 114px;
    height: 22px;
    font-size: 14px;;
}
.txtBot {
    position: absolute;
    bottom: 7px;
    left: 8px;
    width: 114px;
    height: 22px;
    font-size: 14px;;
}
.txtFrom {
    position: absolute;
    top: 12px;
    left: 15px;
    width: 60px;
    height: 70px;
    font-size: 15px;
    line-height: 16px;;
}
.txtPrice {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 170px;
    height: 70px;
    font-size: 10px;;
}
.destinationBrick {
    position: absolute;
    top: 80px;
    left: 20px;
    width: 260px;
    height: 200px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 50px;;
}
.dateBrick {
    position: absolute;
    top: 410px;
    left: 20px;
    width: 100px;
    height: 100px;
}
.priceBrick {
    position: absolute;
    top: 307px;
    left: 20px;
    width: 260px;
    height: 86px;
}
.themaBrick {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 30%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick {
    width: 92px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 260px;
    height: 64px;
    background-color: #2800A0;
    border-radius: 20px;
}
.endTitleText {
    width: 90%;
    font-size: 18px;
    text-align: center;
    transform: translate(5%,17%);;
}
.txtPriceEnd {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 116px;
    height: 36px;
    font-size: 30px;;
}
.destinationBrick-end {
    position: absolute;
    top: 90px;
    left: 20px;
    width: 260px;
    height: 70px;
    font-size: 12px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end {
    position: absolute;
    top: 170px;
    left: 20px;
    width: 125px;
    height: 40px;
}
.CTA-end {
    position: absolute;
    top: 170px;
    left: 154px;
    width: 125px;
    height: 42px;;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 245px;
    right: 20px;
    width: 130px;
    height: 96px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 420px;
    right: 20px;
    width: 130px;
    height: 96px;
}
.txtCTA {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    height: 75px;
    font-size: 40px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: 4px;
    left: 15px;
    width: 74px;
    height: 30px;
    font-size: 18px;;
}
.CTA-panel {
    position: absolute;
    width: 130px;
    height: 96px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    top: 10px;
    left: 5;
}
.col2 {
    top: 150px;
}
.col3 {
    top: 290px;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.euroSign {
    top: 25px;
    font-size: 32px;;
}
.symPlane {
    right: 20px;
    bottom: 17px;
    width: 23px;
}
.txtDepartureEnd {
    position: absolute;
    top: 4px;
    left: 15px;
    width: 230px;
    height: 26px;
    font-size: 30px;
}
.txtStripeEnd {
    position: absolute;
    top: 30px;
    left: 15px;
    width: 230px;
    height: 10px;
    font-size: 20px;
    line-height: 0.5em;
}
.txtDestinationEnd {
    position: absolute;
    bottom: 4px;
    left: 15px;
    width: 230px;
    height: 26px;
    font-size: 30px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 600px;
}
.imgOffer2 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 600px;
}
.imgOffer3 {
    position: absolute;
    top: 0;
    width: 300px;
    height: 600px;
}
.gradient {
    position: absolute;
    top: 0;
    width: 300px;
    height: 600px;
}
.bgDestEnd {
    position: absolute;
    top: 100px;
    left: 20px;
    width: 260px;
    height: 120px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.dag {
    top: 36px;
    font-size: 40px;
}
.symPlane-small {
    top: 10px;
    right: 12px;
    width: 18px;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
