html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 160px;
    height: 600px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.backdrop {
    position: absolute;
    top: 0;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 170px;
    left: 5px;
    width: 90%;
    height: 20%;
    font-size: 30px;
    line-height: 34px;
    text-align: center;;
}
.disclaimer {
    position: absolute;
    bottom: 4px;
    left: 10px;
    width: 140px;
    height: 20px;
    font-size: 9px;;
}
.logo {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 110px;
}
.logo2 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 110px;
}
.logoLiggend {
    bottom: 26px;
    left: 0;
    width: 160px;
}
.txtDeparture,
.txtStripe,
.txtDestination {
    width: 114px;
}
.txtDeparture {
    position: absolute;
    top: 43px;
    left: 8%;
    width: 85%;
    height: 30px;
    text-align: center;
}
.txtStripe {
    position: absolute;
    top: 45%;
    width: 100%;
    font-size: 18px;;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 12px;
    width: 90px;
    height: 78px;
    font-size: 25px;
    line-height: 1em;;
}
.dag,
.maand {
    position: absolute;
    left: 5%;
    width: 90%;
    text-align: center;;
}
.dag {
    top: 32px;
    height: 38px;
    font-size: 28px;
    line-height: 1.5em;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 3px;
    height: 26px;
    font-size: 20px;
    line-height: 1.2em;;
}
.txtNumber {
    position: absolute;
    top: 18px;
    left: 8px;
    width: 114px;
    height: 45px;
    font-size: 40px;;
}
.txtTop {
    position: absolute;
    top: 2px;
    left: 8px;
    width: 114px;
    height: 22px;
    font-size: 14px;;
}
.txtBot {
    position: absolute;
    bottom: 3px;
    left: 8px;
    width: 114px;
    height: 22px;
    font-size: 14px;;
}
.txtFrom {
    position: absolute;
    top: 8px;
    left: 50%;
    font-size: 11px;
    width: 80%;
    text-align: center;
    transform: translateX(-50%);
}
.txtPrice {
    position: absolute;
    top: 30px;
    left: 5%;
    width: 90%;
    height: 50%;
    font-size: 45px;;
}
.destinationBrick {
    position: absolute;
    top: 70px;
    left: 10%;
    width: 80%;
    height: 160px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 80px;;
}
.dateBrick {
    position: absolute;
    top: 240px;
    left: 22%;
    width: 90px;
    height: 90px;
}
.priceBrick {
    position: absolute;
    top: 350px;
    left: 15px;
    width: 130px;
    height: 86px;
}
.themaBrick {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 30%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick {
    width: 92px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 130px;
    height: 92px;
    background-color: #2800A0;
    border-radius: 10px;
}
.endTitleText {
    width: 85%;
    font-size: 14px;
    text-align: center;
    transform: translate(8%,38%);;
}
.txtPriceEnd {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 116px;
    height: 38px;
    font-size: 30px;;
}
.destinationBrick-end {
    position: absolute;
    top: 105px;
    left: 15px;
    width: 130px;
    height: 40px;
    font-size: 12px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end {
    position: absolute;
    top: 150px;
    left: 15px;
    width: 130px;
    height: 40px;
}
.CTA-end {
    position: absolute;
    top: 195px;
    left: 15px;
    width: 130px;
    height: 34px;;
}
.txtCenter {
    text-align: center;
}
.corners2 {
    border-radius: 20px;
}
.corners {
    border-radius: 10px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 380px;
    left: 15px;
    width: 130px;
    height: 78px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 450px;
    left: 15px;
    width: 130px;
    height: 78px;
}
.txtCTA {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 74px;
    height: 55px;
    font-size: 38px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: 3px;
    left: 19px;
    width: 76px;
    height: 23px;
    font-size: 16px;;
}
.CTA-panel {
    position: absolute;
    width: 130px;
    height: 78px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1 {
    top: 10px;
    z-index: 100px;;
}
.col2 {
    top: 147px;
    z-index: 100px;
}
.col3 {
    top: 284px;
    z-index: 100px;;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.euroSign {
    top: 25px;
    font-size: 32px;;
}
.symPlane {
    right: 15px;
    bottom: 15px;
    width: 23px;
}
.symPlane-small {
    top: 8px;
    right: 18px;
    width: 15px;;
}
.txtDepartureEnd {
    position: absolute;
    top: 2px;
    left: 5%;
    width: 90%;
    height: 16px;
}
.txtStripeEnd {
    position: absolute;
    top: 18px;
    left: 5%;
    width: 90%;
    height: 8px;
    line-height: 0.8em;
}
.txtDestinationEnd {
    position: absolute;
    bottom: 1px;
    left: 5%;
    width: 90%;
    height: 16px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
    width: 160px;
    height: 600px;
}
.imgOffer2 {
    position: absolute;
    top: 0;
    width: 160px;
    height: 600px;
}
.imgOffer3 {
    position: absolute;
    top: 0;
    width: 160px;
    height: 600px;
}
.gradient {
    position: absolute;
    top: 0;
    width: 160px;
    height: 600px;
}
.bgDestEnd {
    position: absolute;
    top: 104px;
    left: 15px;
    width: 130px;
    height: 125px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
