html,
body,
p {
    padding: 0;
    margin: 0;;
}
html {
    -webkit-text-size-adjust: 100%;
}
img {
    position: absolute;
    display: block;
}
@font-face {
    src: url('../fonts/Nexa-XBold.woff') format('woff');
    font-family: 'Nexa-XBold';;
}
sup {
    margin-right: 5px;
    font-size: 50%;
    line-height: 150%;;
}
.stage {
    position: relative;
    width: 120px;
    height: 600px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
    font-family: 'Nexa-XBold',Arial;
    color: #FFFFFF;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: #FFFFFF;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);

    -webkit-touch-callout: none;
         -o-user-select: none;;
}
.backdrop {
    position: absolute;
    top: 0;
}
.greenBackground {
    width: 100%;
    height: 100%;
    background: #00D66C;;
}
.imgBG {
    top: 0;
}
.introTxt {
    position: absolute;
    top: 170px;
    left: 5px;
    width: 90%;
    height: 20%;
    font-size: 21px;
    line-height: 21px;
    text-align: center;;
}
.disclaimer {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 110px;
    height: 20px;
    font-size: 9px;;
}
.logo {
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    width: 110px;
}
.logo2 {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    width: 110px;
}
.logoLiggend {
    bottom: 30px;
    left: 5px;
    width: 110px;
}
.txtDeparture,
.txtStripe,
.txtDestination {
    left: 5%;
    width: 90%;;
}
.txtDeparture {
    position: absolute;
    top: 28px;
    height: 30px;
}
.txtStripe {
    position: absolute;
    top: 58px;
    height: 10px;
    font-size: 18px;
    line-height: 0.5em;
}
.txtDestination {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.txtDate {
    position: absolute;
    top: 13px;
    width: 100px;
    height: 88px;
    font-size: 25px;;
}
.dag,
.maand {
    position: absolute;
    left: 10%;
    width: 80%;
    text-align: center;;
}
.dag {
    top: 35px;
    height: 42px;
    font-size: 80px;
    color: rgba(40,0,160,1);;
}
.maand {
    top: 3px;
    height: 28px;
    font-size: 20px;;
}
.txtNumber {
    position: absolute;
    top: 28%;
    left: 5%;
    width: 90%;
    height: 46%;
    font-size: 40px;;
}
.txtTop,
.txtBot {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 22px;
    font-size: 13px;;
}
.txtTop {
    top: 3px;
}
.txtBot {
    bottom: 3px;
}
.txtFrom {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 11px;;
    text-align: center;
}
.txtPrice {
    position: absolute;
    top: 38px;
    left: 10px;
    width: 80px;
    height: 48px;
    font-size: 45px;;
}
.destinationBrick {
    position: absolute;
    top: 70px;
    left: 10px;
    width: 100px;
    height: 126px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);
    border-radius: 43px;;
}
.dateBrick {
    position: absolute;
    top: 200px;
    left: 10px;
    width: 100px;
    height: 100px;
}
.priceBrick {
    position: absolute;
    top: 330px;
    left: 10px;
    width: 100px;
    height: 86px;
}
.themaBrick {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 30%;
    background-color: rgba(255,255,255,0.85);
}
.themaText {
    position: absolute;
    /* height: 90%; */
    top: 50%;
    left: 50%;
    /* top: 5%; */
    /* left: 10%; */
    width: 80%;
    font-size: 35px;
    color: #2800A0;
    transform: translate(-50%, -50%);
}
.endBrick {
    width: 92px;
}
.endBrick .txtDeparture,
.endBrick .txtStripe,
.endBrick .txtDestination {
    font-size: 12px;
}
.endTitle {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    background-color: #2800A0;
    border-radius: 10px;
}
.endTitleText {
    position: absolute;
    width: 86%;
    height: 86%;
    font-size: 14px;
    text-align: center;
    transform: translate(7%,7%);;
}
.txtPriceEnd {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 80%;
    font-size: 30px;;
}
.destinationBrick-end {
    position: absolute;
    top: 124px;
    left: 10px;
    width: 100px;
    height: 45px;
    font-size: 12px;
    color: #2800A0;
    text-align: center;
    background-color: rgba(255,255,255,0.85);;
}
.priceBrick-end .txtPrice {
    top: 6px;
    left: 30px;
    font-size: 32px;;
}
.priceBrick-end {
    position: absolute;
    top: 173px;
    left: 10px;
    width: 100px;
    height: 45px;
}
.CTA-end {
    position: absolute;
    top: 222px;
    left: 10px;
    width: 100px;
    height: 30px;;
}
.txtCenter {
    text-align: center;
}
.corners {
    border-radius: 12px;
}
.greenPanel {
    background: rgba(0,214,108,0.85);
}
.shadow {
    -webkit-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
       -moz-box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
            box-shadow: rgba(198,37,80,1) 0 -3px 0 inset;
}
.seatsLeft {
    position: absolute;
    top: 378px;
    left: 10px;
    width: 100px;
    height: 78px;
    background: #FF3268;
}
.CTA {
    position: absolute;
    top: 430px;
    left: 10px;
    width: 100px;
    height: 78px;
}
.txtCTA {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 70px;
    height: 55px;
    font-size: 28px;
    text-align: left;;
}
.txtCTA-small {
    position: absolute;
    top: 2px;
    left: 9px;
    width: 82px;
    height: 23px;
    font-size: 16px;;
}
.CTA-panel {
    position: absolute;
    width: 100px;
    height: 78px;
    background: #FF3268;
}
.pinkPanel {
    position: absolute;
    width: 100%;
    height: 95%;
    background: #FF3268;
}
.destPriceCta-container {
    position: absolute;
    top: 0;
}
.col1,
.col2,
.col3 {
    z-index: 100px;
}
.col1 {
    top: 0;
    left: 0;;
}
.col2 {
    top: 138px;
    left: 0;;
}
.col3 {
    top: 274px;
    left: 0;;
}
.panelWhite,
.panelGreen,
.panelBlue {
    opacity: 0.85;
}
#preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #FFFFFF;;
}
#preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    margin-top: -35px;
    margin-left: -25px;;
}
.frame {
    position: absolute;
    z-index: 10001;
    background: #DBDBDB;
}
.frame-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;;
}
.frame-left {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;;
}
.frame-right {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;;
}
.euroSign {
    top: 25px;
    font-size: 32px;;
}
.symPlane {
    right: 18px;
    bottom: 15px;
    width: 20px;
}
.txtDepartureEnd {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 90px;
    height: 15px;
}
.txtStripeEnd {
    position: absolute;
    top: 17px;
    left: 5px;
    width: 90px;
    height: 8px;
    line-height: 0.8em;
}
.txtDestinationEnd {
    position: absolute;
    bottom: 1px;
    left: 5px;
    width: 90px;
    height: 20px;
}
.imgOffer1 {
    position: absolute;
    top: 0;
    width: 120px;
    height: 600px;
}
.imgOffer2 {
    position: absolute;
    top: 0;
    width: 120px;
    height: 600px;
}
.imgOffer3 {
    position: absolute;
    top: 0;
    width: 120px;
    height: 600px;
}
.gradient {
    position: absolute;
    top: 0;
    width: 120px;
    height: 600px;
}
.bgDestEnd {
    position: absolute;
    top: 122px;
    left: 10px;
    width: 100px;
    height: 130px;;
}
.clickLayer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99px;
    width: 100%;
    height: 100%;;
}
.backupImg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
